MYSQL_DATABASE=projeto_final
MYSQL_USER=projeto_final_user
MYSQL_PASSWORD=projeto_final_password
MYSQL_ROOT_PASSWORD=projeto_final_root

FRONTEND_PORT=80

PMA_PORT=8080

PMA_HOST=mysql
PMA_USER=root
PMA_PASSWORD=projeto_final

DB_HOST=mysql
DB_PORT=3306
DB_NAME=projeto_final
DB_USER=projeto_final_user
DB_PASSWORD=projeto_final_password